table,
th,
td {
  border: 0.5px groove black;
}

table {
  width: 100%;
  background-color: rgb(165, 165, 165);
}

thead {
  background-color: rgb(232, 233, 232);
}

th,
td {
  padding: 10px;
  text-align: left;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.refresh-button {
  width: 20px;
  height: 20px;
  position: relative;
  left: 25%;
  background-color: #e7e7e9;
  color: #696666;
  border-radius: 50%;
  padding: 10px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.refresh-button:hover {
  filter: brightness(0.7);
}

.refresh-button svg {
  fill: var(#afb0b1);
  width: 20px;
  height: 20px;
}

.product-input-field {
  width: 90%;
  border: 1px solid green;
  background-color: rgb(185, 241, 207);
  padding: 20px;
  margin: 10px;
  border-radius: 0%;
  display: flexbox;
}

.product-input-field-box {
  font-size: 1.2rem;
  padding: 7px;
}
.product-input-field-name {
  display: inline-flex;
  font-size: 1.4rem;
  padding: 10px;
}

.product-input-field input {
  float: right;
  position: relative;
  left: -1%;
  border: none;
  border-bottom: 3px solid rgb(194, 132, 132);
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
  padding: 5px;
  padding-right: 20px;
  padding-left: 0px;
  width: 70%;
  height: 100%;
}

.product-btn {
  position: relative;

  float: right;
  left: -5%;
  width: 100px;
  height: 30px;
  float: inline-end;
  border-radius: 25px;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
  padding-bottom: 0px;
  margin-right: 50px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.prodict-btn:hover {
  background-position: right;
}

@media screen and (max-width: 800px) {
  .product-input-field input {
    font-size: 1rem;
    width: 60%;
  }
}
/* tr:nth-child(even) {
  background-color: #ddd9d9;
}
tr:nth-child(odd) {
  background-color: #a7a6a6;
} */
